.content {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-color: black;
  grid-area: content;
  grid-template: 1fr 1fr / 1fr;
  grid-template-areas: 'sort' 'list';
}

.list {
  border-style: solid;
  border-color: black;
  grid-area: list;
  margin: 0px;
}

#article-item {
  border-style: solid;
  border-color: black;
  margin: 10px;
}

.sort {
  grid-area: sort;
  border-style: solid;
  border-color: black;
  margin: 0px;
  height: 10%;
}
