.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas: 'header login' 'nav nav' 'content content';
  overflow-x: hidden;
  color: gray;
}

/* BUTTONS */

.btn {
  border-radius: 10px;
  border: 1px #ccc solid;
  height: 30px;
  font-size: 12px;
  text-align: center;
}

/* LOGIN */

.login-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 2%;
}

.form-signin {
  height: 100%;
}

.form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* HEADER */

/* .header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
} */

.welcome {
  grid-area: login;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

.welcome > p {
  margin-right: 15px;
  margin-bottom: 0;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

/* COMMENTS */

.comments {
  list-style: none;
  display: flex;
  margin-left: -40px;
  flex-direction: column;
}

#comment-item {
  margin: auto;
  margin-bottom: 10px;
  padding: 1%;
  width: 75%;
}

/* CONTENT */

.content {
  grid-area: content;
  padding: 25px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*ARTICLES */

.article-list {
  list-style: none;
  display: flex;
  margin-left: -40px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

#article-item {
  height: 100%;
  width: 90%;
  margin: 10px;
  margin-left: 0%;
  padding-left: 0%;
  padding: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

#article-item:hover {
  box-shadow: 0px 0px 2px 2px lightgray;
}

.article-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.vote {
  grid-area: vote;
  display: flex;
  flex-direction: column;
}

.vote-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-body-no-delete {
  display: flex;
  flex-direction: row;
}

.float-left {
  float: left;
}

.align-body-center {
  text-align: center;
  width: 100%;
}

.vote-count {
  font-size: 12px;
}

.hide-button {
  border: none;
  background-color: transparent;
}

.vote-button {
  color: #3084f8;
}

/* POSTS */

.post-topic {
  width: 75%;
  margin: auto;
}

.post-article {
  width: 75%;
  margin: auto;
}

.post-comment {
  margin: auto;
  width: 75%;
  margin-top: 20px;
}

/* OPTIONS */

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* NAV */

.nav {
  grid-area: nav;
  height: 10vh;
}

.navbar-toggler {
  border-color: transparent !important;
}

.mr-auto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .mr-auto {
    background: white;
    border: 1px #ccc solid;
    padding: 12px;
  }
}

/* USERS */

.user-list {
  list-style: none;
  width: 75%;
  padding: 24px 0;
}

#user-item {
  display: flex;
  align-items: center;
  margin-left: -40px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

#avatar-icon {
  margin-right: 15px;
  height: 75px;
  width: 75px;
}

.profile-avatar {
  height: 200px;
  width: 200px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
