.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas: 'header login' 'nav nav' 'articles articles';
  overflow: scroll;
  overflow-x: hidden;
}

/* LOGIN */

.login-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 2%;
  border-color: black;
  border-style: dashed;
}

.form-signin {
  height: 100%;
}

.form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* HEADER */

.header {
  grid-area: header;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.welcome {
  grid-area: login;
}

/* COMMENTS */

.comments {
  list-style: none;
}

#comment-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* CONTENT */

.content {
  grid-area: articles;

  display: flex;
  flex-direction: column;
}

.article-list {
  list-style: none;
}

#article-item {
  height: 100%;
  border-style: dashed;
  border-width: 1px;
  border-color: black;
  margin: 10px;
  padding: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'title title title title vote' 'card card card card card';
}

.title {
  grid-area: title;
}

.article-card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.vote {
  grid-area: vote;
  display: flex;
  align-items: center;
}

/* OPTIONS */

.sort {
  display: flex;
  flex-direction: rows;
  justify-content: space-evenly;
  padding: 1%;
}

/* SHRINK WITH PAGE */
.sort-options {
}

/* ARTICLE */

.article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.article-title {
  margin: 20px;
  width: 400px;
}

.article-body {
  margin: 20px;
  width: 400px;
  height: 500px;
}

.select-topic {
  margin: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  height: 50px;
  width: 500px;
  margin: 20px;
}

.topic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.topic-name {
  width: 200px;
  margin: 20px;
}

.topic-description {
  width: 400px;
  height: 50px;
  margin: 20px;
}

/* SIDEBAR */

.nav {
  grid-area: nav;
}

.post-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}

#topic-item {
  margin: 5%;
}

.user-list {
  list-style: none;
}

#user-item {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#avatar-icon {
  height: 50px;
  width: 50px;
}

.profile-avatar {
  height: 200px;
  width: 200px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
